* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", cursive;
    width: 1110px;
    height: 660px;
    margin: 0 auto;
    background-color: #EEF9BF;
}

.game-title {
    width: 540px;
    height: 63px;
    margin: 40px auto;
    ;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
}

.card {
    position: absolute;
    width: 117px;
    height: 146px;
    left: 122px;
    top: 150px;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
}

.card img {
    width: 100px;
    height: 100px;
    margin: 24px 10px 22px 7px;
}